<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.sdu.icat.bookdemo.dal.mapper.BookMapper">
    <resultMap id="resultMap" type="cn.sdu.icat.bookdemo.model.Book">
        <id property="id" column="id"/>
        <result property="name" column="book_name"/>
        <result property="author" column="book_author"/>
    </resultMap>

    <sql id="tableName">
        book_info
    </sql>

    <sql id="tableColumns">
    id,book_name,book_author
    </sql>
    <insert id="insert">
        insert into
        <include refid="tableName"/>
        (book_name,book_author)
        values
        (#{name},#{author})

    </insert>
    <update id="update">
        update
        <include refid="tableName"/>
        set
        book_name=#{book.name},book_author=#{book.author}
        where
        id=#{book.id}
    </update>
    <delete id="deleteById">
        delete
        from
        <include refid="tableName"/>
        where
        id=#{id}
    </delete>
    <select id="selectById" resultMap="resultMap">
        select
        <include refid="tableColumns"/>
        from
        <include refid="tableName"/>
        where
        id=#{id}
    </select>
    <select id="selectAll" resultMap="resultMap">
        select
        <include refid="tableColumns"/>
        from
        <include refid="tableName"/>
    </select>
    <select id="selectPage" resultType="cn.sdu.icat.bookdemo.model.Book"></select>

</mapper>